<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title , label_html: { class: 'simple-form-label' }%>
    <%= f.input :date, as: :date, as: :string, placeholder: "January 20" %>
    <%= f.input :start, as: :time, as: :string, placeholder: "10:30"%>
    <%= f.input :finish, as: :time, as: :string, placeholder: "20:30"%>
    <%= f.input :description %>
    <%= f.input :all_day %>
    <%= f.input :event_type, :collection => ['School', 'Work', 'Project', 'Sport'] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
