<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date.to_date.to_s(:long) %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start.to_time.to_s(:time) %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @event.finish.to_time.to_s(:time) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>All day:</strong>
  <%= @event.all_day %>
</p>

<p>
  <strong>Event Type:</strong>
  <%= @event.event_type %>
</p>

<% if signed_in? %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', calendar_path, method: :get %>
