
<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) ? yield(:title) : 'Woodson Delhia'  %></title>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<div class="logo-wrapper">
			<div class="logo">
				<a href="#">Woodson Delhia<span>ウッディ</span></a>
					<p>In pursuit to becoming a Software Developer.</p>
			</div>

			<div class="email">
					<p>Contact me | <a href="#">woodsondelhia@hotmail.com</a></p>
			</div>
		</div>

		<ul id="nav"> 
				<li class="about"><%= link_to(root_path) do %> 
					<i class="flaticon-user62"></i> About<span>Me</span>
					<% end %> 
				</li> 
				<li class="blog"> 
					<%= link_to('#') do %> 
						<i class="flaticon-blog1"></i> Blog 
					<% end %> 
				</li> 
				<li class="school"> 
					<%= link_to('#') do %> 
						<i class="flaticon-pen38"></i> School 
					<% end %> 
				</li> 
				<li class="schedule"><%= link_to calendar_path, method: :get do %> 
						<i class="flaticon-calendar-icons"></i> Schedule 
					<% end %> 
				</li> 
				<li class="projects"><%= link_to('#') do %> 
						<i class="flaticon-robot3"></i> Projects 
					<% end %> 
				</li> 
				<li class="contact"> 
					<%= link_to('#') do %> 
						<i class="flaticon-personal33"></i> Contact<span>Me</span>	 
					<% end %> 
				</li> 

			</ul> 

	</header>
		<div class="container tabled">
			<%= yield %>
		</div>

</body>
</html>
